# Copy to keystore.properties (gitignore) or set env vars.
# Do not commit upload-keystore.jks or the filled-in file.
#
# Play upload cert SHA1 (newly generated 2026-09-09; reset Play Console to this cert):
# 30:70:7C:14:A2:AA:1B:AD:06:5C:E7:CC:79:AC:02:BB:9B:D8:2C:42
storeFile=upload-keystore.jks
storePassword=change-me
keyAlias=upload
keyPassword=change-me
